<div class="background">
  <div class="main-container">
    <h1>Le casino Pouet</h1>
    <div class="button-container">
      <a class="button-74" routerLink="SlotMachine" routerLinkActive="active">Slot machines</a>
      <a class="button-74" routerLink="BlackJack" routerLinkActive="active">Black jack</a>
      <a class="button-74" routerLink="Roulette" routerLinkActive="active">Roulette</a>
    </div>
    <div class="account">
      <a *ngIf="account.id == 0" href="#" class="log-button" routerLink="Login" routerLinkActive="active">Mon Compte</a>
      <a *ngIf="account.id != 0" href="#" class="log-button" routerLink="Login" routerLinkActive="active">{{account.name}}</a>
    </div>
  </div>
</div>
